/*index style*/

/*bg image*/
@import "../css3.html";

/* Hide the scrollbar for Webkit browsers */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

#navigationplaceholder {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in effect */
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.fa-custom-twtr:before {
        content: "\f099";
}

.fa-custom-insta:before {
        content: "\f16d";
}
.fa-custom-lkin:before {
        content: "\f08c";
}
.fa-custom-web:before {
        content: "\f77a";
}
.fa-custom-artstation:before {
        content: "\f2ed";
}
.fa-custom-tumblr:before {
        content: "\f174";
}

.bgimage {
    background-image: url(../images/cover_l0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0.2s;
}

.bgimage.visible {
  opacity: 1;
}

/*title*/
header {
    font-family: 'Mukta Vaani', sans-serif;
    z-index: 3;
    float: left;
    text-align: center;
    margin-top: 35vh;
    margin-left: 13%;
    color: white;
    width: 87%;
}
.myname{
    font-size: 4rem; /*80px*/
    letter-spacing: 0.7rem;
    font-weight: 200;
}
.subtitle{
    font-size: 2rem; /*30px*/
    letter-spacing: 0.5rem;
    font-weight: 100;
    margin-top:-3rem;
    text-transform: uppercase;
}

/*scroll button*/
.center-con {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0.2s;

}
.center-con.visible {
  opacity: 1;
}

.round {
    /* background-color: rgba(51, 51, 51, 0.5); */
    position: relative;
    /* border: 1.5px solid #fff; */
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.round1 {
    /* background-color: rgba(200, 200, 200, 0.5); */
    position: relative;
    /* border: 1.5px solid #26292d; */
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.arrow {
    z-index: 500;
    height: 1.5px;
    margin:0.5px;
    width: 15px;
    background: #fff;
    transition: 0.4s ease;
}

.arrow1 {
    z-index: 500;
    height: 1.5px;
    margin:0.5px;
    width: 15px;
    background: #26292d;
    transition: 0.4s ease;
}

.arrow:first-child, .arrow1:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.arrow:nth-child(2), .arrow1:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.arrow:nth-child(3), .arrow1:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.arrow:nth-child(4), .arrow1:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1), .round1:hover span:nth-child(1)  {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2), .round1:hover span:nth-child(2)  {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3), .round1:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4), .round1:hover span:nth-child(4) {
    transform: rotate(-225deg);
}

/*navigation sidebar*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 16px;
}

#home {
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 22vh;
    padding-bottom: 0px;
}
.navcontainer {
    margin-top: 3vh;
    padding-bottom:5rem;
}
#nav {
    text-align: center;
    font-size: 0.7vw;
    font-weight: 500;
    width: 13%;
    height: 100vh;
    position: fixed;
    margin: 0px;
    padding-left: 0px;
    background-color: #26292d;
    overflow: auto;
    z-index: 1;
}
#nav::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}
ul li {
    list-style-type: none;
    position: relative;
    display: inline;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    float: left;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    font-family: 'Mukta Vaani', sans-serif;
    color: lightgrey;
    letter-spacing: 0.1em;
    padding: 0.5vw 0vw;
    text-decoration: none;
    width: 100%;

}
li a:hover, .dropdown:hover .dropbtn {
    color: darkgrey;
}
li.dropdown {
    display: inline-block;
    font-family: 'Mukta Vaani', sans-serif;
    color: darkgrey;
    text-decoration: none;
    display: block;
}
.dropitems {
    display: none;
    text-align: center;
    position: relative;
    width: 100%;
    font-weight:200;
    text-transform:none;
}
.dropitems1 {
    display: none;
    text-align: center;
    position: relative;
    width: 100%;
    font-weight:200;
    text-transform:none;
}

/*about section*/
.sig {
    float: left;
    position: relative;
    margin-left: 13%;
    margin-top: 14%;
    padding: 0 2vw;
    width: 15vw;
    display: inline-block;
}
#sig {
    width:100%;
}

.wrap {
   width: 87%;
    margin-left:13%;
    overflow: hidden;
    background: white;
    opacity: 1;
    display: block;
    position: absolute;
    margin-top: 100vh;
    height: 100vh;
    padding: 0;
    animation:opac 0.5s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.wrapdemo {
    width: 87%;
    overflow: hidden;
    background-color: rgba(30,30,30,0.80);
    display: block;
    position: absolute;
    margin-top: 200vh;
    margin-left: 13%;
    height: 100vh;
    padding: 0;
    animation:opac 0.5s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.container1 {
    margin: auto;
    padding: 0;
    width: 100%;
    float: left;
    opacity: 100%;
}

.aboutsection {
    margin-top: 16%;
    width: 55%;
    margin-left: 18vw;
    margin-right: 12vw;
    margin-bottom: 4rem;
}
h1.aboutsection {
    margin: auto;
    margin-bottom: 2vw;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 3vh;
    width: auto;
}
p.aboutsection {
    margin: auto;
    margin-bottom: 1vw;
    width: auto;
    font-size: 1rem;
    line-height: 3vh;
}

.aboutlinks {
  display: flex;
  height: 1vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.aboutlinks i {
  height: 3vh;
  margin-left:1rem;
  margin-right:1rem;
  font-size: 1.8rem;
  color: #4B4B4B;
}

.aboutlinks i:hover {
    color: darkgrey;
}
.aboutlinks img {
  height: 3vh;
  padding: 1vh;
  padding-top: 5rem;
  margin: auto;
}

/*links at bottom*/
.links {
    margin: auto;
    position: fixed;
    bottom: 2vh;
    z-index: 2;
    width: 13%;
    text-align: center;
}
.links img {
    height: 3vh;
    padding: 1vh;
    margin: auto;
}
.links img.darkableImage {
    opacity:1;
    filter:alpha(opacity=100);
}

/*#loading-overlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.5); !* Semi-transparent background *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    z-index: 9999; !* Ensure it's on top of other content *!*/
/*}*/

/*.welcome_animation {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 50%;*/
/*    background: linear-gradient(45deg, #3498db, #f39c12);*/
/*    animation: scaleUp 2s ease-in-out;*/
/*}*/

/*@keyframes scaleUp {*/
/*    0% {*/
/*        transform: scale(1);*/
/*        opacity: 1;*/
/*    }*/
/*    50% {*/
/*        transform: scale(1.5);*/
/*        opacity: 0.7;*/
/*    }*/
/*    100% {*/
/*        transform: scale(1);*/
/*        opacity: 1;*/
/*    }*/
/*}*/
